enterprise_dw_master_pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed":{"type":"string"},"Enterprise_datawarehouse_lakehouse_bronze":{"type":"string"},"Enterprise_Datawarehouse_lakehouse_silver":{"type":"string"},"rajesh_warehouse":{"type":"string"}},"variables":{},"resources":[{"name":"enterprise_dw_master_pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Invoke_sales_ingestion","type":"ExecutePipeline","dependsOn":[{"activity":"Invoke_product_ingestion","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"a69da73e-4ea6-4335-a85b-c4994903b166","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"Invoke_region_ingestion","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"52af7943-003d-4b85-842e-72ad44b58ff1","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"Invoke_product_ingestion","type":"ExecutePipeline","dependsOn":[{"activity":"Invoke_region_ingestion","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"504c67b3-dd9c-4c07-90c3-cbf6d1c617cb","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"bronze_to_silver","type":"TridentNotebook","dependsOn":[{"activity":"Invoke_sales_ingestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"0d53ec3b-538f-47cd-bc0a-5df5abfbfbb8","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79"}},{"name":"Invoke_gold_pipe","type":"ExecutePipeline","dependsOn":[{"activity":"bronze_to_silver","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"890e6e00-e5bc-4504-9dde-d5cccb4c9202","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-05T08:34:27Z"},"dependsOn":[]},{"name":"Sales_ingestion_pipeline_copy2","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ingest_sales_to_bronze","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*Sales*.csv","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[],"externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Get_Sales_files","type":"GetMetadata","dependsOn":[{"activity":"ingest_sales_to_bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]},"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEachSalesFiles","type":"ForEach","dependsOn":[{"activity":"Get_Sales_files","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('get_Sales_Files').output.childItems","type":"Expression"},"activities":[{"name":"Copylogsales","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"FlattenHierarchy","metadata":[{"name":"FileName","value":{"value":"@item().name","type":"Expression"}},{"name":"IngestionTime","value":{"value":"@utcNow()","type":"Expression"}},{"name":"PipelineName","value":{"value":"@pipeline().PipelineName","type":"Expression"}}]},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Logs/Logs_sales"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":false},"logLocationSettings":{"path":"raw","externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-04T21:39:40Z"},"dependsOn":[]},{"name":"Region_ingestion_pipeline_copy1","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ingest_region_to_bronze","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*Region*.csv","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"raw"},"columnDelimiter":"\t","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Get_Region_Files","type":"GetMetadata","dependsOn":[{"activity":"ingest_region_to_bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":"\t","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEachRegionfile","type":"ForEach","dependsOn":[{"activity":"Get_Region_Files","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get_Region_files').output.childItems","type":"Expression"},"activities":[{"name":"Copydatalogregion","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"FlattenHierarchy","metadata":[{"name":"Filename","value":{"value":"@item().name","type":"Expression"}},{"name":"IngestionTime","value":{"value":"@utcNow()","type":"Expression"}},{"name":"Pipelinename","value":{"value":"@pipeline().PipelineName","type":"Expression"}},{"name":"RowCount","value":{"value":"@activity('ingest_region_to_bronze').output.rowsCopied","type":"Expression"}}]},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Logs/Logs_region"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":false},"logLocationSettings":{"path":"raw","externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-04T21:49:15Z"},"dependsOn":[]},{"name":"Product_ingestion_pipeline_copy2","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ingest_product_to_bronze","description":"Ingesting files into the bronze layer","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*Product*.csv","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"raw"},"columnDelimiter":"\t","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[],"externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Get_Product_Files","type":"GetMetadata","dependsOn":[{"activity":"ingest_product_to_bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]},"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEachproductfile","type":"ForEach","dependsOn":[{"activity":"Get_Product_Files","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get_Product_Files').output.childItems","type":"Expression"},"isSequential":true,"activities":[{"name":"Copytologproduct","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"FlattenHierarchy","metadata":[{"name":"filename","value":{"value":"@item().name","type":"Expression"}},{"name":"ingestiontime","value":{"value":"@utcNow()","type":"Expression"}},{"name":"pipelinename","value":{"value":"@pipeline().PipelineName","type":"Expression"}},{"name":"rowcount","value":{"value":"@activity('ingest_product_to_bronze').output.rowsCopied","type":"Expression"}}]},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Logs/Logs_product"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":false},"logLocationSettings":{"path":"raw","externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-04T21:51:03Z"},"dependsOn":[]},{"name":"gold_pipe_copy1","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[{"activity":"Dataflow2","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_Datawarehouse_lakehouse_silver","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_Datawarehouse_lakehouse_silver')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"product_delta"}}},"sink":{"type":"DataWarehouseSink","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"rajesh_warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"pstif7vh7kne3o72pus3obd3ie-57eh7tffavqefhydxiyvypi2pe.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('rajesh_warehouse')]","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"product_gold"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"product_key","type":"Int32","physicalType":"integer"},"sink":{"name":"product_key","physicalType":"int"}},{"source":{"name":"product_name","type":"String","physicalType":"string"},"sink":{"name":"product_name","physicalType":"varchar","length":"255"}},{"source":{"name":"color","type":"String","physicalType":"string"},"sink":{"name":"color","physicalType":"varchar","length":"100"}},{"source":{"name":"subcategory","type":"String","physicalType":"string"},"sink":{"name":"subcategory","physicalType":"varchar","length":"100"}},{"source":{"name":"category","type":"String","physicalType":"string"},"sink":{"name":"category","physicalType":"varchar","length":"100"}},{"source":{"name":"bg_color_format","type":"String","physicalType":"string"},"sink":{"name":"bg_color_format","physicalType":"varchar","length":"20"}},{"source":{"name":"font_color_format","type":"String","physicalType":"string"},"sink":{"name":"font_color_format","physicalType":"varchar","length":"20"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":false,"treatBooleanAsNumber":false}}}},{"name":"Copy data2","type":"Copy","dependsOn":[{"activity":"Dataflow3","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_Datawarehouse_lakehouse_silver","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_Datawarehouse_lakehouse_silver')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"region_delta"}}},"sink":{"type":"DataWarehouseSink","allowCopyCommand":true,"copyCommandSettings":{},"tableOption":"autoCreate","datasetSettings":{"annotations":[],"linkedService":{"name":"rajesh_warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"pstif7vh7kne3o72pus3obd3ie-57eh7tffavqefhydxiyvypi2pe.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('rajesh_warehouse')]","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"region_gold"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"region","type":"String","physicalType":"string"},"sink":{"name":"region","physicalType":"varchar","length":"100"}},{"source":{"name":"country","type":"String","physicalType":"string"},"sink":{"name":"country","physicalType":"varchar","length":"100"}},{"source":{"name":"region_group","type":"String","physicalType":"string"},"sink":{"name":"region_group","physicalType":"varchar","length":"100"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Dataflow3","type":"RefreshDataflow","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"f648e685-bfe9-42ef-bfa9-bd4834ac7ce5","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}},{"name":"Dataflow2","type":"RefreshDataflow","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"dataflowId":"d7d09ec4-7b62-46a6-ac14-ff6219de1b8d","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","notifyOption":"NoNotification","dataflowType":"DataflowFabric"}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-05T12:54:33Z"},"dependsOn":[]}]}