Sales_ingestion_pipeline_copy2.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed":{"type":"string"},"Enterprise_datawarehouse_lakehouse_bronze":{"type":"string"}},"variables":{},"resources":[{"name":"Sales_ingestion_pipeline_copy2","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ingest_sales_to_bronze","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*Sales*.csv","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[],"externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Get_Sales_files","type":"GetMetadata","dependsOn":[{"activity":"ingest_sales_to_bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]},"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEachSalesFiles","type":"ForEach","dependsOn":[{"activity":"Get_Sales_files","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('get_Sales_Files').output.childItems","type":"Expression"},"activities":[{"name":"Copylogsales","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"FlattenHierarchy","metadata":[{"name":"FileName","value":{"value":"@item().name","type":"Expression"}},{"name":"IngestionTime","value":{"value":"@utcNow()","type":"Expression"}},{"name":"PipelineName","value":{"value":"@pipeline().PipelineName","type":"Expression"}}]},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Logs/Logs_sales"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":false},"logLocationSettings":{"path":"raw","externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-04T21:39:40Z"},"dependsOn":[]}]}