V1_enterprise_dw_master_pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed":{"type":"string"},"Enterprise_datawarehouse_lakehouse_bronze":{"type":"string"},"rajesh_warehouse":{"type":"string"},"Enterprise_Datawarehouse_lakehouse_silver":{"type":"string"}},"variables":{},"resources":[{"name":"enterprise_dw_master_pipeline","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Invoke_sales_ingestion","type":"ExecutePipeline","dependsOn":[{"activity":"Invoke_product_ingestion","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"a69da73e-4ea6-4335-a85b-c4994903b166","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"Invoke_region_ingestion","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"52af7943-003d-4b85-842e-72ad44b58ff1","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"Invoke_product_ingestion","type":"ExecutePipeline","dependsOn":[{"activity":"Invoke_region_ingestion","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"504c67b3-dd9c-4c07-90c3-cbf6d1c617cb","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"bronze_to_silver","type":"TridentNotebook","dependsOn":[{"activity":"Invoke_sales_ingestion","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"0d53ec3b-538f-47cd-bc0a-5df5abfbfbb8","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79"}},{"name":"Invoke pipeline1","type":"ExecutePipeline","dependsOn":[{"activity":"bronze_to_silver","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"f0103029-e5fa-4636-b487-ce673f45203d","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-05T12:58:16Z"},"dependsOn":[]},{"name":"Sales_ingestion_pipeline_copy2","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ingest_sales_to_bronze","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*Sales*.csv","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"raw"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[],"externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Get_Sales_files","type":"GetMetadata","dependsOn":[{"activity":"ingest_sales_to_bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]},"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEachSalesFiles","type":"ForEach","dependsOn":[{"activity":"Get_Sales_files","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('get_Sales_Files').output.childItems","type":"Expression"},"activities":[{"name":"Copylogsales","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"FlattenHierarchy","metadata":[{"name":"FileName","value":{"value":"@item().name","type":"Expression"}},{"name":"IngestionTime","value":{"value":"@utcNow()","type":"Expression"}},{"name":"PipelineName","value":{"value":"@pipeline().PipelineName","type":"Expression"}}]},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Logs/Logs_sales"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":false},"logLocationSettings":{"path":"raw","externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-04T21:39:40Z"},"dependsOn":[]},{"name":"Region_ingestion_pipeline_copy1","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ingest_region_to_bronze","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*Region*.csv","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"raw"},"columnDelimiter":"\t","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[],"externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Get_Region_Files","type":"GetMetadata","dependsOn":[{"activity":"ingest_region_to_bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":"\t","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEachRegionfile","type":"ForEach","dependsOn":[{"activity":"Get_Region_Files","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get_Region_files').output.childItems","type":"Expression"},"activities":[{"name":"Copydatalogregion","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"FlattenHierarchy","metadata":[{"name":"Filename","value":{"value":"@item().name","type":"Expression"}},{"name":"IngestionTime","value":{"value":"@utcNow()","type":"Expression"}},{"name":"Pipelinename","value":{"value":"@pipeline().PipelineName","type":"Expression"}},{"name":"RowCount","value":{"value":"@activity('ingest_region_to_bronze').output.rowsCopied","type":"Expression"}}]},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Logs/Logs_region"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":false},"logLocationSettings":{"path":"raw","externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-04T21:49:15Z"},"dependsOn":[]},{"name":"Product_ingestion_pipeline_copy2","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"ingest_product_to_bronze","description":"Ingesting files into the bronze layer","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"wildcardFileName":"*Product*.csv","enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileSystem":"raw"},"columnDelimiter":"\t","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[],"externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"PreserveHierarchy"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Get_Product_Files","type":"GetMetadata","dependsOn":[{"activity":"ingest_product_to_bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"fieldList":["childItems"],"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]},"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEachproductfile","type":"ForEach","dependsOn":[{"activity":"Get_Product_Files","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Get_Product_Files').output.childItems","type":"Expression"},"isSequential":true,"activities":[{"name":"Copytologproduct","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@item().name","type":"Expression"},"folderPath":"Raw_data_bronze"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"LakehouseWriteSettings","copyBehavior":"FlattenHierarchy","metadata":[{"name":"filename","value":{"value":"@item().name","type":"Expression"}},{"name":"ingestiontime","value":{"value":"@utcNow()","type":"Expression"}},{"name":"pipelinename","value":{"value":"@pipeline().PipelineName","type":"Expression"}},{"name":"rowcount","value":{"value":"@activity('ingest_product_to_bronze').output.rowsCopied","type":"Expression"}}]},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".csv"},"datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_datawarehouse_lakehouse_bronze","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_datawarehouse_lakehouse_bronze')]","rootFolder":"Files"}}},"type":"DelimitedText","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"Logs/Logs_product"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":""},"schema":[]}},"enableStaging":false,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":false},"logLocationSettings":{"path":"raw","externalReferences":{"connection":"[parameters('https://uzigenlake.dfs.core.windows.net/ Mohammeduzair.Sayyed')]"}}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-04T21:51:03Z"},"dependsOn":[]},{"name":"123_gold_final","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Script2","type":"Script","dependsOn":[{"activity":"Copy data1","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"rajesh_warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"pstif7vh7kne3o72pus3obd3ie-57eh7tffavqefhydxiyvypi2pe.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('rajesh_warehouse')]","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79"}}},"typeProperties":{"scripts":[{"type":"NonQuery","text":{"value":"DROP TABLE IF EXISTS dbo.region;\n\nCREATE TABLE dbo.region (\n    sales_territory_key VARCHAR(10),\n    region VARCHAR(100),\n    country VARCHAR(100),\n    region_group VARCHAR(100)\n);\n","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"Script1_copy1","type":"Script","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"rajesh_warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"pstif7vh7kne3o72pus3obd3ie-57eh7tffavqefhydxiyvypi2pe.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('rajesh_warehouse')]","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79"}}},"typeProperties":{"scripts":[{"type":"NonQuery","text":{"value":"DROP TABLE IF EXISTS dbo.product;\n\nCREATE TABLE dbo.product (\n    product_key VARCHAR(100),\n    product_name VARCHAR(100),\n    standard_cost VARCHAR(100),\n    color VARCHAR(100),\n    subcategory VARCHAR(100),\n    category VARCHAR(100),\n    bg_color_format VARCHAR(100),\n    font_color_format VARCHAR(100)\n);\n","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"Copy data1","type":"Copy","dependsOn":[{"activity":"Script1_copy1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_Datawarehouse_lakehouse_silver","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_Datawarehouse_lakehouse_silver')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"product_delta"}}},"sink":{"type":"DataWarehouseSink","allowCopyCommand":true,"copyCommandSettings":{},"datasetSettings":{"annotations":[],"linkedService":{"name":"rajesh_warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"pstif7vh7kne3o72pus3obd3ie-57eh7tffavqefhydxiyvypi2pe.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('rajesh_warehouse')]","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"product"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Script3","type":"Script","dependsOn":[{"activity":"Copy data2","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"linkedService":{"name":"rajesh_warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"pstif7vh7kne3o72pus3obd3ie-57eh7tffavqefhydxiyvypi2pe.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('rajesh_warehouse')]","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79"}}},"typeProperties":{"scripts":[{"type":"NonQuery","text":{"value":"DROP TABLE IF EXISTS dbo.sales;\n\nCREATE TABLE dbo.sales (\n    sales_order_number VARCHAR(100),\n    order_date VARCHAR(100),\n    product_key VARCHAR(100),\n    sales_territory_key VARCHAR(100),\n    order_quantity VARCHAR(100),\n    unit_price VARCHAR(100),\n    sales_amount VARCHAR(100),\n    total_product_cost VARCHAR(100)\n);\n","type":"Expression"}}],"scriptBlockExecutionTimeout":"02:00:00"}},{"name":"Copy data2","type":"Copy","dependsOn":[{"activity":"Script2","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_Datawarehouse_lakehouse_silver","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_Datawarehouse_lakehouse_silver')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"region_delta"}}},"sink":{"type":"DataWarehouseSink","allowCopyCommand":true,"copyCommandSettings":{},"datasetSettings":{"annotations":[],"linkedService":{"name":"rajesh_warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"pstif7vh7kne3o72pus3obd3ie-57eh7tffavqefhydxiyvypi2pe.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('rajesh_warehouse')]","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"region"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}},{"name":"Copy data3","type":"Copy","dependsOn":[{"activity":"Script3","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"LakehouseTableSource","datasetSettings":{"annotations":[],"linkedService":{"name":"Enterprise_Datawarehouse_lakehouse_silver","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79","artifactId":"[parameters('Enterprise_Datawarehouse_lakehouse_silver')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"sales_delta"}}},"sink":{"type":"DataWarehouseSink","allowCopyCommand":true,"copyCommandSettings":{},"datasetSettings":{"annotations":[],"linkedService":{"name":"rajesh_warehouse","properties":{"annotations":[],"type":"DataWarehouse","typeProperties":{"endpoint":"pstif7vh7kne3o72pus3obd3ie-57eh7tffavqefhydxiyvypi2pe.datawarehouse.fabric.microsoft.com","artifactId":"[parameters('rajesh_warehouse')]","workspaceId":"cc7fc8ef-05a5-4260-9f03-ba315c3d1a79"}}},"type":"DataWarehouseTable","schema":[],"typeProperties":{"schema":"dbo","table":"sales"}}},"enableStaging":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}],"lastModifiedByObjectId":"9b9c85ae-76f4-45ed-95bd-e9c122363cfc","lastPublishTime":"2025-04-06T14:40:36Z"},"dependsOn":[]}]}